 <!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Roulette</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css">

<!-- 		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/ui-lightness/jquery-ui.css">
 -->
<!-- 		<link rel="stylesheet" href="bootstrap-responsive.css"></link>
 -->		
 <!-- <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/themes/ui-lightness/jquery-ui.css">
 -->
 		<!-- <link rel="stylesheet" href="roulette.css"></link> -->
 	<style>
 	body {	
	padding-top: 60px;
	padding-bottom: 40px;
}
div.roulette {
	margin-top: 35px;
}
div.roulette-inner {
	left : 33px;
}


div.roulette { 
}

div.roulette_container {
	background-color:rgb(253, 252, 253);
	width:90%;
	height:30%;
	border:1px solid rgba(253, 252, 253, 0.31);
	box-shadow:0px 0px 3px lightpink;margin:auto;
}

.btn_container {
	margin:20px;
	text-align:center;
}
.btn_container .start {
	margin-right:20px;
}
.log_container {
	margin-left:25px;
	margin-top:80px;
}
.demo_label {
	border-left:5px solid gray;
	padding-left:5px;
	font-size: 20px;
}
#msg {
	border:1px solid #eee;
	padding:10px 20px;
	overflow-y: scroll;
	max-height: 100px; 
}
div.param_label {
	margin:20px 0px 10px 0px;
}
#stopImageNumber {
	width : 20px;
}
.param_name {
	font-weight:bold;
}
.image_sample img{
	width : 50px;
	cursor: pointer;
}
.right_container {
	width: 550px;
	margin-left: 100px;
}
.code_container {
	margin-top:50px;
	width: 500px;
}
.label-info {
	margin-bottom: 3px;
}
div.ui-slider {
	width: 300px;
}
 	</style>
	</head>
	<body>
		<div class="container">
			<div class="page-header" style="">
			</div>

			<div class="row">
				<div class="span4">
					<div class="roulette_container" >
						<div class="roulette" style="display:none;">
							<img src ="../img/roulette/WNNP.png" id="WNNP" width="80%"/>
							<img src ="../img/roulette/WNNR.png" id="WNNR" width="80%"/>
							<img src ="../img/roulette/WONO.png" id="WONO" width="80%"/>
							<img src ="../img/roulette/WORP.png" id="WORP" width="80%"/>
							<img src ="../img/roulette/WOVP.png" id="WOVP" width="80%"/>
							<img src ="../img/roulette/WOVV.png" id="WOVV" width="80%"/>
							<img src ="../img/roulette/WVBB.png" id="WVBB" width="80%"/>
							<img src ="../img/roulette/WVBP.png" id="WVBP" width="80%"/>
							<img src ="../img/roulette/WVNJ.png" id="WVNJ" width="80%"/>
							<img src ="../img/roulette/WVOB.png" id="WVOB" width="80%"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	    <script type='text/javascript'>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>')</script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/roulette/roulette.js"></script>
	<script>
	var option = {
		speed : 26,
		duration : 2.5,
		stopImageNumber : -1,
		startCallback : function() {
			console.log('start');
		},
		slowDownCallback : function() {
			console.log('slowDown');
		},
		stopCallback : function($stopElm) {
			console.log('stop');
			alert($stopElm.attr("id"));
		}
	}
	$('div.roulette').roulette(option);	
	$('div.roulette').roulette('start');

</script>

  <script src="/socket.io/socket.io.js"></script>
<script src="/public/js/js.cookie.js"></script>
<script src="/public/js/script.js"></script>
	</body>
</html>
