<!DOCTYPE html>
<html>
 <head>
   <title>Pechoc > Tinder</title>
   <link rel="stylesheet" href="/css/bootstrap.min.css">
   <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="chrome=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">

   <meta name="google" value="notranslate">
   <style>
   .cardlist {
     position:absolute;
     top:0;
     left:0;
     bottom:0;
     right:0;
     font-size:0;
     padding:0;
     margin:0;
   }

   .cardlist li {
      display: inline-block;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
      border: solid 16px white;

      position:absolute;
      top:0;
      left:0
   }

   .cardlist li.current {
     position:absolute;
     top:0;
     left:0;
   }

   .but-yay {
     position:absolute;
     z-index:9999999999999999999999999;
     width:60px;
     height:60px;
     background:url(/img/btn-tinder.png) no-repeat center center / contain transparent;
     border:none;
     bottom:50px;
     left:50%;
     transform:translateX(-50%)
   }

   .splash {
     position:absolute;
     top:0;
     left:0;
     bottom:0;
     right:0;
     z-index:99999999999999999999999991;
     display:none;
     background-size: cover;
     background-position: center center;
     border: solid 16px white;
   }

   .btn-conclu {
     position:absolute;
     left:0;
     right:0;
     bottom:25%;
     height:25%;
   }

   .btn-rateau {
     position:absolute;
     left:0;
     right:0;
     bottom:0%;
     height:25%;
   }

   .btn-back {
     position:absolute;
     top:0;
     left:0;
     width:50px;
     height:50px;
     z-index:99999999999999999999999999999999999;
   }
  </style>
</head>

<body class="tinderesque">
  <section>
    <div class="cardcontainer list">
      <ul class="cardlist">
      <% for (var i=0; i< data.tinder_chocards.length; i++) { %>
        <% if (data.tinder_chocards[i].pecho == false) { %>
          <li <% if (i == 0) { %>class="current"<% } %> style="background-image:url(/img/tinder/<%= data.tinder_chocards[i].code %>.png)" data-code="<%= data.tinder_chocards[i].code %>" data-sexe="<%= data.tinder_chocards[i].sexe %>"/></li>
        <% } %>
      <% } %>
      </ul>
      <button class="but-yay"></button>
    </div>
  </section>

  <div style="display:none">
<% for (var i=0; i< data.tinder_chocards.length; i++) { %>
  <% if (data.tinder_chocards[i].pecho == false) { %>
    <img src="/img/tinder/<%= data.tinder_chocards[i].code %>.png)"/>
  <% } %>
<% } %>
  </div>

<div class="splash persuadez" style="background-image:url(/img/splash/persuadez.png)"></div>
<div class="splash persuadez-suite" style="background-image:url(/img/splash/persuadez-suite.png)">
  <div class="btn-conclu"></div>
  <div class="btn-rateau"></div>
</div>
<div class="splash conclu" style="background-image:url(/img/splash/conclu.png)"></div>
<div class="splash rateau" style="background-image:url(/img/splash/rateau.png)"></div>
<div class="splash prochain-tour-tinder" style="background-image:url(/img/splash/prochain-tour.png)"></div>
<div class="splash prochain-tour-roulette" style="background-image:url(/img/splash/prochain-tour.png)"></div>
<div class="splash nom" style="background-image:url(/img/splash/nom.png)"></div>

<div class="btn-back"></div>

    <script type='text/javascript'>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>')</script>
<script src="/public/js/hammer.min.js"></script>
<script src="/public/js/jquery.hammer.js"></script>


  <script src="/socket.io/socket.io.js"></script>
<script src="/public/js/js.cookie.js"></script>
<script src="/public/js/script.js"></script>



<script type="text/javascript">
$(function(){

  var player = null;

  socket.on('player', function(p){
    player = p;
    console.log(player);
    $('[data-sexe="'+player.chocard.sexe+'"]').remove();
  });

  $('.but-yay').on('click', function(){
    $('.splash').hide();
    $('.persuadez').show();

    $('.btn-back').on('click', function(){
      $('.splash').hide();
    });
  });

  $('.persuadez').on('click', function(){
    $('.splash').hide();
    $('.persuadez-suite').show();

    $('.btn-back').on('click', function(){
      $('.splash').hide();
      $('.persuadez').show();
    });
  });

  $('.btn-conclu').on('click', function(){
    $('.splash').hide();
    $('.conclu').show();

    $('.btn-back').on('click', function(){
      $('.splash').hide();
      $('.persuadez-suite').show();
    });
  });

  $('.btn-rateau').on('click', function(){
    $('.splash').hide();
    $('.rateau').show();

    $('.btn-back').on('click', function(){
      $('.splash').hide();
      $('.persuadez-suite').show();
    });
  });

  $('.rateau').on('click', function(){
    $('.splash').hide();
    $('.prochain-tour-tinder').show();

    $('.btn-back').on('click', function(){
      $('.splash').hide();
      $('.persuadez-suite').show();
    });
  });

  $('.conclu').on('click', function(){
    $('.splash').hide();
    $('.prochain-tour-roulette').show();

    $('.btn-back').on('click', function(){
      $('.splash').hide();
      $('.persuadez-suite').show();
    });
  });

  $('.prochain-tour-roulette').on('click', function(){
    $('.splash').hide();
    $('.nom').show();

    $('.btn-back').on('click', function(){
      $('.splash').hide();
      $('.persuadez-suite').show();
    });
  });

  $('.nom').on('click', function(){
    window.location.replace('/roulette');
  });

  $('.prochain-tour-tinder').on('click', function(){
    window.location.replace('/tinder');
  });

  var zIndex = 10;

  $('.cardlist').hammer().bind("swipeleft", function(ev){
    zIndex++;

    var oldCur = $('.current');
    var newCur = oldCur.next();

    if (oldCur.next().length == 0) {
      newCur = $('.cardlist li').first();
    }

    oldCur.removeClass('current');

    newCur.css({
      left:'100%',
      'z-index': zIndex
    }).animate({
      left:0
    },500,'swing').addClass('current');
  });

  $('.cardlist').hammer().bind("swiperight", function(ev){
    zIndex++;

    var oldCur = $('.current');
    var newCur = oldCur.prev();

    if (oldCur.prev().length == 0) {
      newCur = $('.cardlist li').last();
    }

    oldCur.removeClass('current');

    newCur.css({
      left:'-100%',
      'z-index': zIndex
    }).animate({
      left:0
    },500,'swing').addClass('current');
  });
});
</script>

</body></html>
